#title-box, h1 {
    font-size: xx-large;
}

#highscores {
    font-size: x-large;
    text-decoration: none;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 15px 32px;
    margin: 4px 0px 4px 4px;
    }

#nav {
    height: 60px;
    width: auto;
    background-color: grey;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

#box-row {
    display: flex;
    justify-content: center;
    margin: 10vw;
}
#box-row, #highscores-title {
    height: auto;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    padding-top: 5vw;
    text-align: center;
}

#body-box, #body-button, #answer-buttons, #input-text, #submit-box {
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
}

#box2, #btn-box, #form-box, #submit-box {
    display: flex;
    flex-direction: column;
}


